body {
    background: black;
}

.book
{
  cursor: pointer;
}

.sport hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: antiquewhite;
}

h3 {
    color: floralwhite;
}